<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    
</head>
<body>
  

    <div id="container" class="left_container">
        <div id="header" class="left_header">
            <ul id="left_header_buttons">
                <li><a class="material-icons" href="#">reply</a></li>
                <li><a class="material-icons" href="#">email</a></li>
                <li><a class="material-icons" href="#">settings</a></li>
                <li><a class="material-icons" href="#">person</a></li>
            </ul>
        </div>
        <div id="header_info" class="left_profile">
            <img src="../assets/img/IMG_052211.jpg" alt="profile_photo">
            <h1>Natalia Kapelist</h1>
            <h3>Admin Manager</h3>
            <ul class="left_profile_buttons">
                <li><a class="material-icons" href="#">account_circle</a></li>
                <li><a class="material-icons" href="#">near_me</a></li>
                <li><a class="material-icons" href="#">remove_red_eye</a></li>
            </ul>

        </div>
        <div id="main_content_container" class="left_sidebar">
            <button><i class="material-icons">home</i>Dashboard</button>
            <button><i class="material-icons">graphic_eq</i>UI elements</button>
            <button><i class="material-icons">desktop_mac</i>Sample pages</button>
            <button><i class="material-icons">message</i>Messages</button>
            <button><i class="material-icons">launch</i>Forms</button>
            <button><i class="material-icons">tab</i>Grid Layout</button>
            <button><i class="material-icons">view_quilt</i>Tables</button>
            <button><i class="material-icons">equalizer</i>Statistics</button>
            <button><i class="material-icons">data_usage</i>Support</button>
        </div>
    </div>
    <div id="container" class="right_container">
        <div id="header" class="right_header">
            <form action="">
                <div class="search_icon">
                    <span><i class="material-icons">search</i></span>
                </div>
                <input type="search" name="searsh" placeholder="Search...">
                <button type="submit" name="submit"><i class="material-icons">trending_flat</i></button>
            </form>
            <!-- <div class="clicker">
                <input id="clickerInput" type="text" placeholder="Clicker Game">
                <button id="clickerButton">Start</button>
            </div> -->
        </div>
        <div id="header_info" class="right_statistics">
            <div class="info">
                <div class="home_info">
                    <div class="home_icon">
                        <span><i class="material-icons">home</i></span>
                    </div>
                    <div class="home_text">
                        <h2>Dashboard</h2>
                        <p>Home. Dashboard</p>
                    </div>
                    
                </div>
                <div class="date_info">

                </div>
            </div>
            <div class="statistic_info" id="application">
               
                <!-- <div class="vue_apps">
                    <div id="app">
                        <p>{{ message }}</p>
                        <input type="text" v-model="message">
                        
                    </div>
                    <div id="app2">
                        <p>{{ score }}</p>
                        <button v-on:click="click">Click</button>
                    </div>
                </div> -->
                <!-- <div class="toDoList" id="todo">
                    <section class="panel">	
                        <input type="checkbox" id="mark-all" v-on:click="selectAll" :checked="areAllSelected">
                        <input v-model="newTask" v-on:keyup.enter="addTask" placeholder="Write your tasks and press Enter..." autofocus class="text-input">
                        <button v-on:click="clearList">Clear List</button>
                    </section>
                    <section class="list">
                        <ul class="list-item">
                            <li v-for="task in tasks" :class="{done: isChecked(task)}">
                                <input type="checkbox" class="checkbox" v-on:click="check" v-model="task.checked">                             
                                <input type="text" v-if="task === editingTask" v-auto-focus class="text-input" 
                                v-on:keyup.enter="endEditing(task)" v-on:blur="endEditing(task)" v-model="task.text">
                                <label for="checkbox" v-if="task !== editingTask" v-on:dblclick="editTask(task)">{{ task.text }}</label>                                
                                <button class="delete" v-on:click="removeTask(task)">X</button>
                            </li>
                        </ul>                   
                    </section>
                </div> -->
            </div>
        </div>
        <div id="main_content_container" class="right_content">
        </div>
    </div>


</body>
</html>