@import "_reset.scss";
@import "_var.scss";
@import "_left_header.scss";
@import "_right_header.scss";
@import "_left_profile.scss";
@import "_right_statistics.scss";
@import "_left_sidebar.scss";
@import "_right_content.scss";

.message {
	@extend .interface;
	color: $first_black;
	background-color: $second_blue;
	&:hover {
		background-color: $first_blue;
	}
}

.success {
	@extend .interface;
	color: $first_black;
	background-color: $second_yellow;
	&:hover {
		background-color: $first_yellow;
	}
}

.error {
	@extend .interface;
	color: $first_black;
	background-color: $second_red;
	&:hover {
		background-color: $first_red;
	}
}

.warning {
	@extend .interface;
	color: $first_black;
	background-color: second_green;
	&:hover {
		background-color: $first_green;
	}
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    display: flex;
    box-sizing: border-box;
}

#container {
    min-height: 1000px;
    display: flex;
    flex-flow: column nowrap;
}

.left_container {
    width: 20%;
    min-width: 200px;
    background: linear-gradient(to top left, $main_dark_lilac, $main_light_lilac);
}

.right_container {
    width: 80%;
    min-width: 800px;
}

#header {
    display: flex;
    width: 100%;
    height: 60px; 
}

#header_info {
    display: flex;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top left, $main_dark_lilac, $main_light_lilac);
}

#main_content_container {
    display: flex;
    width: 100%;
    min-height: 700px;  
}

.material-icons {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: $light_pink;
    @include padding (7px,7px);
    border-radius: 50px;
    border: 1px solid $light_purple;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.r_links {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light_pink;
        // font-weight: bold;
        @include padding(5px,5px);
        @include margin(20px,5px);
        text-decoration: none;
        width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid $light_purple;
    } 
}

.r_links a:hover {
    opacity: 0.5;
}
